# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
# CONFIG_MAC80211 is not set
# CONFIG_CFG80211 is not set
# CONFIG_ATH_COMMON is not set
# CONFIG_WLAN_VENDOR_ATH is not set
# CONFIG_ATH5K is not set
# CONFIG_ATH9K is not set
# CONFIG_WEXT_CORE is not set
# CONFIG_WEXT_PROC is not set
# CONFIG_CFG80211_WEXT is not set
