CONFIG_EXPERT=y
CONFIG_DEBUG_WX=y
CONFIG_WERROR=y
CONFIG_RANDOM_KMALLOC_CACHES=y
CONFIG_HARDENED_USERCOPY=y
# CONFIG_MODIFY_LDT_SYSCALL is not set
# CONFIG_COMPAT is not set
# CONFIG_IA32_EMULATION is not set
